/* Estilos globales */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: left; /* Alinea el título a la izquierda */
  font-weight: bold;
  margin-left: 5px; /* Ajusta el margen para que quede alineado con los cuadros */
}

/* Contenedor principal */
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea los cuadros al inicio */
  width: 300px;
  margin: 0; /* Elimina el auto-centrado */
  padding-left: 5px; /* Alinea el contenedor con el título */
}

/* Estilos comunes para los elementos hijos */
.parent > div {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Para posicionar el número en la parte superior */
  color: white;
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}


/* Colores específicos para cada div */
.container-1 { background-color: red; }
.container-2 { background-color: blue; }
.container-3 { background-color: red; }
.container-4 { background-color: black; }
.container-5 { background-color: orange; }
.container-6 { background-color: brown; }
.container-7 { background-color: green; }
.container-8 { background-color: cyan; }
.container-9 { background-color: lightgreen; }
